html {
  box-sizing: border-box;
  font-size: 14px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;

  word-spacing: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

body {
  min-width: 940px;
}

/*  HEADER   */
.header .wrapper {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo {
  text-decoration: none;
  font-family: "Great Vibes", cursive;
  font-size: 1.85rem;
  font-weight: 400;
  line-height: 1.6;
  color: #fed136;
}
.header__nav_list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 485px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav_item a {
  display: block;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.9;
  text-transform: uppercase;
  color: #222222;
  transition: color 0.2s linear;
}
.header_nav_item > a:hover,
.header_nav_item > a:focus {
  color: #fed136;
}

/*  MAIN     */
.main__services {
  padding: 94px 0 120px 0;
}
.section_title > span {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 2.86rem;
  line-height: 1.875;
  font-weight: 700;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}
.section_title {
  margin: 0 0 80px 0;

  text-align: center;
  font-family: "PT Serif", serif;
  font-size: 1.14rem;
  line-height: 1.2;
  font-style: italic;
  font-weight: 400;
  color: #777777;
}
.main__services_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main__services_item {
  width: 290px;
}
.main__services_item::before {
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  margin: 0 auto;
  border: 3px solid #fed136;
  border-radius: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.main__services_item:nth-child(1)::before {
  background-image: url("../img/icons/Icon-Basket.png");
}
.main__services_item:nth-child(2)::before {
  background-image: url("../img/icons/Icon-Laptop.png");
}
.main__services_item:nth-child(3)::before {
  background-image: url("../img/icons/Icon-Locked.png");
}

.main__services_item a {
  display: block;
  text-decoration: none;
  text-align: center;
}
.main__service_name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.29rem;
  line-height: 4.17;
  font-weight: 700;
  color: #222222;
}
.main_service_about {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  color: #777777;
}

/*  FOOTER   */
.footer {
  padding: 94px 0 20px 0;
  background-color: #222222;
}
.footer .wrapper {
  background-image: url(../img/Map_Image.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer .section_title > span {
  color: #fff;
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding-bottom: 100px;

  font-family: "Montserrat", sans-serif;
}

.footer__form > textarea {
  resize: none;
  padding: 20px;
  border: none;
  width: 455px;
  height: 210px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.footer__form > input {
  padding: 0 20px;
  border: none;
  width: 455px;
  height: 50px;
  border-radius: 2px;
}

.footer__form *::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #bbbbbb;
}

.footer__form > input:not(:last-of-type) {
  margin-bottom: 30px;
}

.footer__form_button {
  padding: 0;
  border: none;
  border-radius: 2px;
  width: 240px;
  height: 66px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fed136;
  cursor: pointer;

  font-size: 1.29rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}